# composer itself is not needed
composer.phar

*/composer.lock
# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

package-lock.json

# yii console command
/yii

/vendor

#vagrant folder
/.vagrant
